    /*.row:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.row { display: inline-block; } */
/* start commented backslash hack \*/
/* html .clearfix { height: 1%; }
.row { display: block; } */
/* close commented backslash hack */ /*бібліотека для футера*/
.row {
    margin-bottom: 0;
} 

body {
    font-family:Arial;
    margin-top:0;
}
h1 {
    margin-top: 0;
    text-align: center;
    padding-top: 20px;
}
h2 {
    text-align: center;
}
p {
    margin-top: 0;
    margin-left: 20px;
    padding-top: 20px;
}
ul {
    margin-bottom: 0;
}

.header {
    background-image: linear-gradient(45deg, #2E3192, #1BFFFF);
    height: 120px;
}
.header ul {
    text-align:center;
    margin-top:10px;
    padding-top: 30px;
    
}
.header li {
    display:inline;
    font-size: 27px;
    margin-left: 30px;
}

.content {
    background: RGB(227,227,227);
    min-height: 500px;
    width: 50%;
    float: left;
}
.sidebar {
    background: RGB(227,227,227);
    min-height: 500px;
    width: 50%;
    float: left;
}

.content p {
    text-align:center;
    margin-top:60px;
}
.about_me {
    margin-top: 0;
    min-height:700px;
    background-image: url("../fon/bambuk.jpg");
    color:white;
}
.about_me p {
    color: white;
}
.about_me ul {
    color:white;
}

.my_project {
    min-height:500px;
   /* background-image: linear-gradient(60deg, #00A8C5, #FFFF7E)*/
   background-image: url("../fon/city.jpg"); /* не працює */
   
}

.contact {
    min-height:300px;
    background-image: linear-gradient(45deg, #4F00BC,#29ABE2)
    
}

.footer {
    background:RGB(99,181,155);
    height: 120px;
}

.footer p {
    text-align: center;
    padding-top: 20px;
}